/* File này dùng để code cấu hình chung cho website */

:root {
    /* vị trí khai bao biến trong css sẽ có lúc dùng tới nên ta khai báo sẵn */
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: EE4D2D;
    /*nên sử dụng màu #_333 chữ này vì chữa này có độ tương phản thấp */
    --header-hight: 120px;
    --navbar-hight: 34px;
    --header-with-search-height: calc(var(--header-hight)-var(--navbar-hight));
}

.text-white-color {
    color: var(--white-color);
}

.text-smoke-color {
    color: #e9dada85;
}

* {
    /* * có nghĩa là tất cả các thành phần trong html ở đây ta style cho tất cả các thành phần*/
    /* các thẻ có thuộc tính box-sizing: inherit ; sẽ kế thừa các thuộc tính từ thẻ cha có thuộc tính box-sizing */
    box-sizing: inherit;
}

html {
    /* bình thường nếu để font-size: 100% thì browser sẽ hiểu 1rem = 16px ( nếu muốn sử dụng font chữ 12px thì ta làm sao?)
    ta nên chuyển về 62.5% khi này 1rem = 10px cánh chuyển nầy giúp ta dễ chia và sử dụng đơn vị rem (muốn dùng font chữ 12px ta dùng 1.2rem)*/
    font-size: 62.5%;
    /* xác định chiều cao chung cho website ( tùy vào bên desgin sẽ thiết kế và ta sẽ làm theo, ở đây lấy ví dụ là 16px tức là 1.6 rem) */
    line-height: 1.6rem;
    /* sử dụng 1 font chữ chung cho toàn bộ text trong website( ở đây ta sử dụng font roboto được nhúng từ google) */
    font-family: 'Roboto', sans-serif;
    /* sử dụng box-sizing: border-box; để khi tăng padding hay border mà vẫn giữ nguyên được kích thước của thành phần đứng với bên desgin thiết kế*/
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}


/* tạo 1 class để dễ dàng responsive */

.grid {
    /* đôi với các thiết bị lớn hơn 1200px thì khối grid dãn tối đa là 1200 */
    width: 100%;
    /* đối với các  thiết thiết bị < 1200px thì khối grid sẽ được tùy biến full kích thước màn hình thiết bị */
    /* căn giữa khối grid bên trong 1 khối cha của nó */
    overflow: hidden;
}

.grid.wide {
    max-width: 1920px;
    margin: 0 auto;
}

.line__h--20 {
    line-height: 2.0rem;
}


/* trong trường hợp không muốn sử dụng grip có width 1200px ta sử dụng grid__full-width */

.grid__full-width {
    width: 100%;
}

.grid__col-3 {
    width: 25%;
}


/* định dạnh hàng(line) */

.grid__row {
    display: flex;
    /* khi tổng độ dài các phân tử lớn hơn độ dài của thẻ cha thì các phần tử sẽ tự động xuống hàng */
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    justify-content: center;
}

.row_flex {
    display: flex;
}

.show {
    display: block!important;
    opacity: 1!important;
}

.show_inline {
    display: inline-block!important;
}


/* dinh dang cot(colum) */


/* -c- moblie
-m- table
-l-PC */

ul,
ol {
    list-style-type: none;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.margin__right--18 {
    margin-right: 18px!important;
}

.pad-left-right--20 {
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.pad-left-right--8 {
    padding-left: 8px;
    padding-right: 8px;
}

.pad-left-right--2 {
    padding-left: 2px;
    padding-right: 2px;
}

.pad-top-bot--20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-top--30 {
    padding-top: 30px!important;
}

.pad-top--20 {
    padding-top: 20px!important;
}

.pad-bot--20 {
    padding-bottom: 20px!important;
}

.pad--20 {
    padding: 20px!important;
}

.pad--40 {
    padding: 40px!important;
}

.height-full {
    height: 800px;
}

.black-background {
    background-color: #000;
}

header {
    z-index: 9999;
}


/* button */

a {
    text-decoration: none;
}

form {
    width: 100%;
}

input {
    outline: none;
    border: none;
    width: 100%;
    border-radius: 0;
    font-size: 1.6rem;
    padding: 5px;
}

.bor-bottom {
    border-bottom: 1px solid #E1E1E1;
}

.bacground-basic {
    background-color: #f4f4f4;
}

.btn {
    display: flex;
    width: 140px;
    height: 24px;
    border-radius: 0px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border: none;
    text-transform: uppercase;
    outline: none;
}

.btn--clear {
    background-color: white;
    color: black;
    border: 2px solid white;
    transition: all .5s ease;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.btn--clear:hover {
    background-color: black;
    color: white;
    border: 2px solid white;
}

.btn--dark {
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: all .5s ease;
    font-size: 1.4rem;
    font-weight: bold;
}

.btn--dark:hover {
    background-color: white;
    color: black;
    border: 2px solid white;
}

.btn--primary {
    background-color: blue;
}

.btn--danger {
    background-color: green;
}

.u-content {
    text-align: center;
    text-transform: uppercase;
}

.u-content--right {
    text-align: right;
}

.link-noline {
    text-decoration: none;
}


/* icon */

.icon3x3 {
    width: 3rem;
    height: 3rem;
}


/* text */

.text_s--14 {
    font-size: 1.4rem!important;
}

.text_s--10 {
    font-size: 1rem!important;
}

.text_s--20 {
    font-size: 2rem!important;
}

.text_w--bold {
    font-weight: bold!important;
}

.text_w--300 {
    font-weight: 300!important;
}

.text_w--600 {
    font-weight: 600!important;
}

.text-visiable {
    color: transparent;
    cursor: default;
    user-select: none;
}

.text__color--black {
    color: black;
}


/* 
form */

#form {
    width: 100%;
}


/* animation */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* 
responsive */


/* table-pc low */

@media(min-width:740px) and(max-width: 1023px) {
    .wide {
        width: 644px;
    }
}


/* > PC low resolution */

@media(min-width:1024px) and(max-width: 1239px) {
    .wide {
        width: 984px;
    }
    .wide.grid__row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .wide.col {
        padding-left: 12px;
        padding-right: 12px;
    }
    .wide.l-0 {
        display: none;
    }
    .wide.l-1,
    .wide.l-2,
    .wide.l-3,
    .wide.l-4,
    .wide.l-5,
    .wide.l-6,
    .wide.l-7,
    .wide.l-8,
    .wide.l-9,
    .wide.l-10,
    .wide.l-11,
    .wide.l12 {
        display: block;
    }
    .wide.l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .wide.l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .wide.l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .wide.l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .wide.l-5 {
        flex: 0 0 41.66666%;
        max-width: 41.66666%;
    }
    .wide.l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .wide.l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .wide.l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .wide.l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .wide.l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .wide.l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .wide.l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/* > tablet */

@media(min-width:740px) {
    .grid__row {
        margin-left: -8px;
        margin-right: -8px;
    }
    .col {
        padding-left: 8px;
        padding-right: 8px;
    }
    .m-0 {
        display: none;
    }
    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m12 {
        display: block;
    }
    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .m-5 {
        flex: 0 0 41.66666%;
        max-width: 41.66666%;
    }
    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


/* > pc medium resolution*/

@media(min-width:1113px) {
    .grid__row {
        margin-left: -12px;
        margin-right: -12px;
    }
    .col {
        padding-left: 12px;
        padding-right: 12px;
    }
    .l-0 {
        display: none;
    }
    .l-1,
    .l-2,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l12 {
        display: block;
    }
    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .l-5 {
        flex: 0 0 41.66666%;
        max-width: 41.66666%;
    }
    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }
    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}