
    <div class="grid">
        <div class="background">

        </div>
        <div class=""></div>
    </div>
 
    <div class="col c-12 m-12 l-12">
        <div class="grid__row container-section story-hero__buckets ">
            <div class="col c-12 m-4 l-4 story-hero__bucket">
                 <a href="">
                <img style="height: auto; width: 100%"src="../../img/products/womenClothingPage/041021_f_jumpsuits_02.webp" alt="">
                </a>
                <a class="btn btn--clear pad--20 " href="">shop jumpsuit</a>

            </div>
           <div class="col c-12 m-4 l-4 story-hero__bucket">
                <a href="">
                <img style="height: auto; width: 100%" src="../../img/products/womenClothingPage/040921_f_happilyever_02.webp" alt="">
                </a>
                <a class="btn btn--clear pad--20"  href="">shop the edit</a>
           </div>
        </div>
    </div>
    <div class="col c-12 m-12 l-12 pad-top--30">
        <div class="shopUpdate_featured  pad-top--30">
            <h2 class="shopUpdate_featured--title">
              <a href="" class="">FEATURED SHOPS</a>
            </h2>
            <div> 
              <a href="" class="shopUpdate_featured--desc">Our one-stop destination for every style, trend, occasion you’re shopping for + more</a>
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide pad-top--30" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div style="display: flex">
          <a href="" class="img-hover-container">
            <img class="d-block w-100 pad-left-right--2" src="../../img/products/womenClothingPage/trending_women1.webp" alt="First slide">
            <div class="img-hover--dark">
                <div class="img-hover--dark-content">
                  shop standout sets
                </div>
            </div>
          </a>
          <a href=""  class="img-hover-container">
           <img class="d-block w-100 pad-left-right--2" src="../../img/products/womenClothingPage/trending_women2.webp" alt="Second slide">
               <div class="img-hover--dark">
                <div class="img-hover--dark-content">
                  Shop  Spring Shop
                </div>
            </div>
          </a>
          <a href=""  class="img-hover-container">
            <img class="d-block w-100 pad-left-right--2" src="../../img/products/womenClothingPage/trending_women3.webp" alt="Third slide">
               <div class="img-hover--dark">
                <div class="img-hover--dark-content">
                  Shop  Pastel Party
                </div>
            </div>
          </a>
        </div>
    </div>
    <div class="carousel-item">
        <div style="display: flex">
          <a href=""  class="img-hover-container">
            <img class="d-block w-100 pad-left-right--2 " src="../../img/products/womenClothingPage/trending_women4.webp" alt="First slide">
               <div class="img-hover--dark">
                <div class="img-hover--dark-content">
                  Shop  Swim Shop
                </div>
            </div>
          </a>
          <a href=""  class="img-hover-container">
            <img class="d-block w-100 pad-left-right--2 " src="../../img/products/womenClothingPage/trending_women5.webp" alt="Second slide">
               <div class="img-hover--dark">
                <div class="img-hover--dark-content">
                  Shop  What to Wear to a Special Event
                </div>
            </div>
          </a>
          <a href=""  class="img-hover-container">
            <img class="d-block w-100 pad-left-right--2 " src="../../img/products/womenClothingPage/trending_women6.webp" alt="Third slide">
               <div class="img-hover--dark">
                <div class="img-hover--dark-content">
                   Shop  What to Wear to Lounge In  
                </div>
            </div>
          </a>
        </div>
    </div>
    <div class="carousel-item">
         <div style="display: flex">
          <a href=""  class="img-hover-container">
            <img class="d-block w-100 pad-left-right--2 " src="../../img/products/womenClothingPage/trending_women7.webp" alt="First slide">
               <div class="img-hover--dark">
                <div class="img-hover--dark-content">
                  Shop  What to Wear to Lounge In
                </div>
            </div>
          </a>
          <a href=""  class="img-hover-container">
            <img class="d-block w-100 pad-left-right--2 " src="../../img/products/womenClothingPage/trending_women8.webp" alt="Second slide">
               <div class="img-hover--dark">
                <div class="img-hover--dark-content">
                  Shop  Dress Shop
                </div>
            </div>
          </a>
          <a href=""  class="img-hover-container">
            <img class="d-block w-100 pad-left-right--2" src="../../img/products/womenClothingPage/trending_women9.webp" alt="Third slide">
               <div class="img-hover--dark">
                <div class="img-hover--dark-content">
                  Shop  What to Wear on Vacation
                </div>
            </div>
          </a>
        </div>
    </div>
      <div class="carousel-item">
         <div style="display: flex">
          <a href=""  class="img-hover-container">
            <img class="d-block w-100 pad-left-right--2 " src="../../img/products/womenClothingPage/trending_women10.webp" alt="First slide">
               <div class="img-hover--dark">
                <div class="img-hover--dark-content">
                  Shop  What to Wear on the Weekend
                </div>
            </div>
          </a>
          <a href=""  class="img-hover-container">
            <img class="d-block w-100 pad-left-right--2" src="../../img/products/womenClothingPage/trending_women11.webp" alt="Second slide">
               <div class="img-hover--dark">
                <div class="img-hover--dark-content">
                  Shop  Beauty Shop
                </div>
            </div>
          </a>
          <a href=""  class="img-hover-container">
            <img class="d-block w-100 pad-left-right--2" src="../../img/products/womenClothingPage/trending_women12.jpg" alt="Third slide">
               <div class="img-hover--dark">
                <div class="img-hover--dark-content">
                  Shop  What to Wear to Work Out
                </div>
            </div>
          </a>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div>
    <div class="col c-12 m-12 l-12">
        <div class="grid__row container-section story-hero__buckets ">
            <div class="col c-12 m-4 l-4 story-hero__bucket">
                 <a href="">
                <img style="height: auto; width: 100%" src="https://is4.revolveassets.com/images/up/2021/April/040721_f_dresscode_02.jpg" alt="">
                </a>
                <a class="btn btn--dark pad--20 " href="">shop the edit</a>

            </div>
           <div class="col c-12 m-4 l-4 story-hero__bucket">
                <a href="">
                <img style="height: auto; width: 100%" src="https://is4.revolveassets.com/images/up/2021/April/040821_f_rwnewarrivals_02.jpg" alt="">
                </a>
                <a class="btn btn--dark pad--20"  href="">show now</a>
           </div>
                  <div class="col c-12 m-4 l-4 story-hero__bucket">
                <a href="">
                <img style="height: auto; width: 100%" src="https://is4.revolveassets.com/images/up/2021/April/041321_f_lwlaprettypalette_02.jpg" alt="">
                </a>
                <a class="btn btn--dark pad--20"  href="">show now</a>
           </div>
                  <div class="col c-12 m-4 l-4 story-hero__bucket">
                <a href="">
                <img style="height: auto; width: 100%" src=" https://is4.revolveassets.com/images/up/2021/April/041421_f_dreamdresses_02.jpg" alt="">
                </a>
                <a class="btn btn--dark pad--20"  href="">show now</a>
           </div>
        </div>
    </div>