<div class="site-footer grid  container-section"> 
    <div class="container-fluid site-footer-begin pad-top-bot--20">
            <div class="grid__row ">        
        <div class="col c-12  l-4">
            <div class="u-content">
                <h5 class="text_w--bold">get in the know</h5>
                <p class="text_s--10 text_w--600">
				Be the first to know about new arrivals, sales & promos by submitting your email! You can opt out at any time.
				<a href="">privacy policy</a>
                </p>    
                <form action="" menthod="POST" id="form" class="row_flex">
                <div class="form__group">
                <input type="email" name="email" id="email" value="" placeholder="Enter your e-mail">
                <span class="form__group-message"> </span>
                </div>                
                <button class="btn btn--dark btn-sub-form-input"  type="submit" >Submit</button>
             </form>          
            </div>
         
        </div>          
         <div class="col c-12  l-4">
            <div class="u-content">
                <h5 class="text_w--bold">help us improve</h5>
                <p class="text_s--10 text_w--600">
				Be the first to know about new arrivals, sales & promos by submitting your email! You can opt out at any time.
				<a href="">privacy policy</a>
                </p>
            </div>
        </div>
         <div class="col c-12  l-4">
            <div class="u-content">
                <h5 class="text_w--bold">get BumBum on the go! </h5>
                <p class="text_s--10 text_w--600">Download our super easy-to-use app available for your iPhone, iPad and Android.
                </p>
                <div class="grid__row">
                    <div class="icon-download-device btn btn--dark">
                        <a href="">
                            iphone app
                        </a>
                    </div>
                    <div class="icon-download-device btn btn--dark">
                        <a href="">
                            ipad app
                        </a>                  
                    </div>
                    <div class="icon-download-device btn btn--dark">
                        <a href="">
                            androi app
                        </a>
                    </div>
                </div>
            </div>
        </div>    
    </div> 
    </div>
    <div class="container-section site-footer-end">       
        <div class="container-fluid grid__row">
            <div class="col l-8">
                <div class="grid__row">
                     <div class="col l-3">
                        <ul>
                            <h5 class="text_w--bold text-white-color">CUSTOMER CARE</h5>
                            <li>
                                <a href="" class="line__h--20 text-smoke-color">Contact Us</a></li>
                            <li>  
                                <a href="" class="line__h--20 text-smoke-color">03267-32670</a></li>
                            <li>
                                <a href="" class="line__h--20 text-smoke-color">Payment Options</a>
                            </li>
                            <li>
                                <a href="" class="line__h--20 text-smoke-color">Track Your Order </a>
                            </li>
                        </ul>                
                    </div>
                    <div class="col l-3">
                              <ul>
                            <h5 class="text-visiable ">CUSTOMER CARE</h5>
                            <li>
                                <a href="" class="line__h--20 text-smoke-color">Contact Us</a></li>
                            <li>  
                                <a href="" class="line__h--20 text-smoke-color">03267-32670</a></li>
                            <li>
                                <a href="" class="line__h--20 text-smoke-color">Payment Options</a>
                            </li>
                            <li>
                                <a href="" class="line__h--20 text-smoke-color">Track Your Order </a>
                            </li>
                        </ul>  
                    </div>
                    <div class="col l-3">
                              <ul>
                            <h5 class="text-visiable">CUSTOMER CARE</h5>
                            <li>
                                <a href="" class="line__h--20 text-smoke-color">Contact Us</a></li>
                            <li>  
                                <a href="" class="line__h--20 text-smoke-color">03267-32670</a></li>
                            <li>
                                <a href="" class="line__h--20 text-smoke-color">Payment Options</a>
                            </li>
                            <li>
                                <a href="" class="line__h--20 text-smoke-color">Track Your Order </a>
                            </li>
                        </ul>  
                    </div>
                    <div class="col l-3">
                            <ul>
                            <h5 class="text_w--bold text-white-color">INFORMATION</h5>
                            <li>
                                <a href="" class="line__h--20 text-smoke-color">Contact Us</a></li>
                            <li>  
                                <a href="" class="line__h--20 text-smoke-color">03267-32670</a></li>
                            <li>
                                <a href="" class="line__h--20 text-smoke-color">Payment Options</a>
                            </li>
                            <li>
                                <a href="" class="line__h--20 text-smoke-color">Track Your Order </a>
                            </li>
                        </ul>  
                    </div>
                </div>
                <div class="col l-8">      
                <div class="row">
                    <h5 class="text_w--bold text-white-color">CONNECT</h5>
                </div>              
                    <ul  class="site__footer--social-icon row">                        
                        <li class="icon3x3">
                            <a href="">
                                <img class="icon3x3" src="../../img/icon/instagram.svg" alt="">
                            </a>
                        </li>
                        <li class="icon3x3">
                            <a href="">
                                <img class="icon3x3" src="../../img/icon/facebook.svg" alt="">
                            </a>
                        </li>
                        <li class="icon3x3">
                            <a href="">
                                <img class="icon3x3" src="../../img/icon/twitter.svg" alt="">
                            </a>
                        </li>
                        <li class="icon3x3">
                              <a href="">
                                <img class="icon3x3" src="../../img/icon/youtube.svg" alt="">
                            </a>
                        </li>                      
                    </ul>                    
                </div>
            </div>
            <div class="col l-4">
                <img style="h : 218px; width: 428px" src="https://is4.revolveassets.com/images/up/2020/December/121620_FWxPromo_RWfooter_648x438.png" alt="">
            </div>
        </div> 

    </div> 
</div>
 </div>