<div class="header-top">
  <div class="header-top__shippingPanel">
    Free shipping on Order $50+ 
    <a href="#">Details</a>
  </div>
    <div class="header-top__desktop-icon block-moblie moblie">
    <div class="header-top__desktop-icon-child-block row">
      <div class="header-top__desktop-icon-child ainimation_border-bottom hamburger ">   
          <a href="#"><img src="../../../img/icon/menu.svg" alt=""></a>
      </div>
        <div class="HoverableSlideOutModal_menu_mobile">
            <ul>
              <li class="bacground-basic bor-bottom ">
                <div class="header-top__shippingPanel section-item ">
                  Free shipping on Order $50+ 
                  <a href="#">Details</a>
                </div>
              </li>    
              <li class="bor-bottom  row_flex">
                <a href="" class="section-item text__color--black">WOMEN</a>
                <span>></span>
              </li>
              <li  class="bor-bottom  row_flex ">
                <a href="" class="section-item text__color--black">MAN</a>
                <span>></span>

              </li>
              <li  class="bor-bottom  row_flex">
                <a href=""class="section-item text__color--black ">NEWS</a>
                <span>></span>
              </li>
              <li  class="bor-bottom  row_flex" >
                <a href="" class="section-item text__color--black">SALE</a>
                <span>></span>
              </li>
              <li  class="bor-bottom  row_flex">
                <a href="" class="section-item text__color--black">STYLE TRIAL RENTAIL</a>
                <span>></span>
              </li>
              <li  class="bor-bottom  row_flex">
                <a href="" class="section-item text__color--black">SERVICES</a>
                <span>></span>
              </li>
              <li  class="bor-bottom  row_flex">
                <a href=""class="section-item text__color--black">BUMBUM OUTLET</a>
                <span>></span>
              </li>
            </ul>            
      </div>
      <div class="header-top__desktop-icon-child ainimation_border-bottom margin__right--18">   
            <a href="#" ><img src="../../../img/icon/search-icon.svg" alt=""> </a>
            <div class="HoverableSlideOutModal hoverTranformX col ">
              <div class="pad-left-right--20 height-full">
              <div class="search_input-container">
                <img src="../../../img/icon/search-icon.svg" style=" width: 25px;height: 25px;"alt="">
                <form action="">
                <input type="search" name="q" autocomplete="off" placeholder="Search...">
                </form>
              </div>  
              <div class="search_trending">trending search</div>
              <a href="#" class="section-item">Women’s Essential Tops</a>            
              <a href="#" class="section-item">Women’s Loungewear & Sets</a>
              <a href="#" class="section-item">Women’s Skinny Jeans</a>
              <a href="#" class="section-item">Men’s T-Shirts & Polos</a>
              <a href="#" class="section-item">Men’s 4-Way Hyper Stretch Jeans</a>
              <a href="#" class="section-item">Men’s Loungewear</a>

              </div>
            </div>
      </div> 
    </div>
    </div>
  <div class="header-top_brand">
    <a href="/" >BUMBUMshop</a>
  </div>
  <div class="header-top__desktop-icon">
    <div class="header-top__desktop-icon-child-block none-moblie ">
    <div class="header-top__desktop-icon-child ainimation_border-bottom">   
          <a href="#" ><img src="../../../img/icon/search-icon.svg" alt=""> </a>
          <div class="HoverableSlideOutModal hoverTranformX col ">
            <div class="pad-left-right--20 height-full">
            <div class="search_input-container">
               <img src="../../../img/icon/search-icon.svg" style=" width: 25px;height: 25px;"alt="">
              <form action="">
               <input type="search" name="q" autocomplete="off" placeholder="Search...">
              </form>
            </div>  
            
            <div class="search_trending">trending search</div>
            <a href="#" class="section-item">Women’s Essential Tops</a>            
            <a href="#" class="section-item">Women’s Loungewear & Sets</a>
            <a href="#" class="section-item">Women’s Skinny Jeans</a>
            <a href="#" class="section-item">Men’s T-Shirts & Polos</a>
            <a href="#" class="section-item">Men’s 4-Way Hyper Stretch Jeans</a>
            <a href="#" class="section-item">Men’s Loungewear</a>
            </div>
          </div>
    </div>
    <div class="over-lay"></div> 
    
    </div>
  <div class="header-top__desktop-icon-child-block">
    <div class="header-top__desktop-icon-child ainimation_border-bottom">
      <a href="#"><img src="../../../img/icon/user-icon.svg" alt=""> 
      </a>
       <div class="HoverableSlideOutModal  hoverTranformX-user ">
            <div class="pad-left-right--20 height-full">
              <div class="account__container">
                  <div class="logo_insider">
                    BUMBUM <span>INSIDER</span>
                  </div>               
                    <div class="account__container-hello-first">
                      Welcome to a whole new world of
                  </div>
                    <div class="account__container-hello-last">
                      rewards and access.                 
                  </div>
                  <div class="grid__row account__container-nextBtns ">
                    <button type="button"class="btn btn--clear pad--20" aria-label="join now" >join now</button>                   
                    <button type="button" class="btn btn--dark pad--20" aria-label="sign in" >sign in</button>              
                  </div>
                  <div class="account__container--moreInfo">
                    <a href="#"> Learn more</a>
                   </div>
              </div>      
              <div class="account__card">
                  <img class="icon3x3" src="../../../img/icon/credit-card.svg" alt="">
                  <div class="account__card-description">
                    <div class="account_title">Express Credit Card</div>
                    <div class="account_subTitle">Get an extra 20% off* your next purchase.</div>
                  </div>
              </div>   
              <div class="account__card">
                  <img class="icon3x3" src="../../../img/icon/dollar.svg" alt="">
                  <div class="account__card-description">
                    <div class="account_title">Pay Your Bill</div>
                    <div class="account_subTitle">View your account or make a payment.</div>
                  </div>
              </div> 
                <div class="accountAuxiliary_nav_help">
                  <div class="accountAuxiliary_nav_helpTitle">Help & More</div>
                  <a href="#" class="accountAuxiliary_nav_helpLink">Refer a Friend</a>
                  <a href="#" class="accountAuxiliary_nav_helpLink">Find a Store</a>
                  <a href="#" class="accountAuxiliary_nav_helpLink">Gift Cards</a>
                  <a href="#" class="accountAuxiliary_nav_helpLink">Contact us</a>
                </div>
            </div>
          </div>
    </div>
        <div class="over-lay"></div>
        
  </div>
    <div class="header-top__desktop-icon-child ainimation_border-bottom " id="shopping">
      <a href="#" ><img src="../../../img/icon/bag-shopping.svg"  alt=""> </a>
    </div>
  </div>    
  </div>
  <div class="wide grid__row">
    <nav class="MegaMenu_nav__1vWhM ravenDesktopNav">
    <ol class="header-bot__nav-list">          
      <li  class="header-bot__nav-list-item">
        <a href="/women-clothing" class="MegaMenu_primaryNav nav-item">WOMEN</a>
        <div class="MegaMenu_expandableContainer__1LP">
             <div class="col l-12 grid__row pad--40 pad-top--30 ">
              <div class="col l-2">
                <ul>
                  <h5 class="text_w--bold">NEW & NOW</h5>
                  <li class="pad-top--20">
                    <a href="/women-clothing/new-arrivals" class="section-item text_s--14">New Arrivals</a>
                  </li>
                    <a href="/women-clothing/work-your-way"  class="section-item text_s--14">Work Your Way</a>
                  <li>
                    <a href="/women-clothing/silky-sueded-jersey"  class="section-item text_s--14">Silky Sueded Jersey</a>
                  </li>
                  <li>
                    <a href="/women-clothing/the-vacation-edit"  class="section-item text_s--14">The Vacation Edit</a>
                  </li>
                  <li>
                    <a href="/women-clothing/spring-whites"  class="section-item text_s--14">Spring Whites</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Linen</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Mother's Day Gifts</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Curvy Shorts</a>
                  </li>
                     <li>
                  </li>
                </ul>
              </div>
             <div class="col l-2">
                <ul>
                  <h5 class="text_w--bold">CLOTHING</h5>
                  <li  class="pad-top--20">
                    <a href=""  class="section-item text_s--14">Tops</a>
                  </li>
                    <a href=""  class="section-item text_s--14">Dresses</a>
                  <li>
                    <a href=""  class="section-item text_s--14">Jumpsuits & Rompers</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Matching Sets</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Jackets & Coats </a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Jeans</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Bottoms </a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Shorts</a>
                  </li>
                  <li>
                  <a href=""  class="section-item text_s--14">Casual Pants</a>
                  </li>
                   <li>
                  <a href=""  class="section-item text_s--14">Leggings</a>
                  </li>
                       <li>
                  <a href=""  class="section-item text_s--14">Suits</a>
                  </li>
                </ul>                
              </div>
              <div class="col l-2">
                <ul>
                  <h5 class="text_w--bold">ACCESSORIES & SHOES</h5>
                  <li  class="pad-top--20"> 
                    <a href=""  class="section-item text_s--14">Shoes </a>
                  </li>
                    <a href=""  class="section-item text_s--14">Jewelry </a>
                  <li>
                    <a href=""  class="section-item text_s--14">Face Masks & Chains</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Handbags</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Belts</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Sunglasses</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Hair Accessories</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Fragrance</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Beauty </a>
                  </li>
                </ul>
              </div>
              <div class="col l-2">
                <ul>
                  <h5 class="text_w--bold">STYLE</h5>
                  <li  class="pad-top--20">
                    <a href=""  class="section-item text_s--14">Meet Our Stylists</a>
                  </li>
                    <a href=""  class="section-item text_s--14">Style Trial Rental</a>
                  <li>
                    <a href=""  class="section-item text_s--14">Shop by Trend</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Shop by Occasion</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">#EXPRESSYOU</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Styling Tips: Spring Denim</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Mother's Day Gifts</a>
                  </li>      
                </ul>
              </div>
              <div class="col l-4 u-content" class="pad-top--20 ">
                <a href="">
                  <img src="https://www.express.com/content/dam/express/2021/projects/web/category-inline/04-april/0406-digital-9185-dg-nav/w-nav-01.jpg" style="height: 60%;" alt="">
                </a>
                <a href="" class="l12 text_s--14 text__color--black">SHOW NOW</a>
              </div>
          </div>
        </div>
        </li>
      <li  class="header-bot__nav-list-item ">
        <a href="men-clothing" class="MegaMenu_primaryNav nav-item">MEN</a>
         <div class="MegaMenu_expandableContainer__1LP ">
                   <div class="col l-12 grid__row pad--40 pad-top--30 ">
              <div class="col l-2">
                <ul>
                  <h5 class="text_w--bold">NEW & NOW</h5>
                  <li>
                    <a href="" class="section-item text_s--14">New Arrivals</a>
                  </li>
                    <a href=""  class="section-item text_s--14">Work Your Way</a>
                  <li>
                    <a href=""  class="section-item text_s--14">Silky Sueded Jersey</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">The Vacation Edit</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Spring Whites</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Linen</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Mother's Day Gifts</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Curvy Shorts</a>
                  </li>
                     <li>
                  </li>
                </ul>
              </div>
              <div class="col l-2">
                <ul>
                  <h5 class="text_w--bold">CLOTHING</h5>
                  <li>
                    <a href=""  class="section-item text_s--14">Tops</a>
                  </li>
                    <a href=""  class="section-item text_s--14">Dresses</a>
                  <li>
                    <a href=""  class="section-item text_s--14">Jumpsuits & Rompers</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Matching Sets</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Jackets & Coats </a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Jeans</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Bottoms </a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Shorts</a>
                  </li>
                  <li>
                  <a href=""  class="section-item text_s--14">Casual Pants</a>
                  </li>
                   <li>
                  <a href=""  class="section-item text_s--14">Leggings</a>
                  </li>
                </ul>
                
              </div>
              <div class="col l-2">
                <ul>
                  <h5 class="text_w--bold">NEW & NOW</h5>
                  <li>
                    <a href=""  class="section-item text_s--14">New Arrivals</a>
                  </li>
                    <a href=""  class="section-item text_s--14">Work Your Way</a>
                  <li>
                    <a href=""  class="section-item text_s--14">Silky Sueded Jersey</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">The Vacation Edit</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Spring Whites</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Linen</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Mother's Day Gifts</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Curvy Shorts</a>
                  </li>
                     <li>
                  </li>
                </ul>
              </div>
              <div class="col l-2">
                <ul>
                  <h5 class="text_w--bold">NEW & NOW</h5>
                  <li>
                    <a href=""  class="section-item text_s--14">New Arrivals</a>
                  </li>
                    <a href=""  class="section-item text_s--14">Work Your Way</a>
                  <li>
                    <a href=""  class="section-item text_s--14">Silky Sueded Jersey</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">The Vacation Edit</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Spring Whites</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Linen</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Mother's Day Gifts</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Curvy Shorts</a>
                  </li>
                     <li>
                  </li>
                </ul>
              </div>
              <div class="col l-4 u-content ">
                <a href="">
                  <img src="../../../img/products/manClothingPage/m-nav-01.jpg" style="height: 60%;" alt="">
                </a>
                <a href="" class="l12 text_s--14 text__color--black">SHOW NOW</a>
              </div>
          </div>
        </div>
        </li>
      <li  class="header-bot__nav-list-item ">
        <a href="#" class="MegaMenu_primaryNav nav-item">NEWS</a>
         <div class="MegaMenu_expandableContainer__1LP ">
          
        </div>
        </li>
      <li  class="header-bot__nav-list-item ">
        <a href="#" class="MegaMenu_primaryNav nav-item">SALE</a>
         <div class="MegaMenu_expandableContainer__1LP">
          
        </div>
        </li>
      <li  class="header-bot__nav-list-item ">
        <a href="#" class="MegaMenu_primaryNav nav-item">STYLE TRIAL RENTAIL</a>
         <div class="MegaMenu_expandableContainer__1LP">
          
        </div>
      </li>
      <li class="header-bot__nav-list-item ">
        <a href="#" class="MegaMenu_primaryNav nav-item">SERVICES</a>
         <div class="MegaMenu_expandableContainer__1LP">
          
        </div>
      </li>
        <li  class="header-bot__nav-list-item ">
        <a href="#" class="MegaMenu_primaryNav nav-item"> BUMBUM OUTLET</a>        
        <div class="MegaMenu_expandableContainer__1LP">
             <div class="col l-12 grid__row ">
              <div class="col l-2">
                <ul>
                  <h5 class="text_w--bold">NEW & NOW</h5>
                  <li>
                    <a href="" class="section-item text_s--14">New Arrivals</a>
                  </li>
                    <a href=""  class="section-item text_s--14">Work Your Way</a>
                  <li>
                    <a href=""  class="section-item text_s--14">Silky Sueded Jersey</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">The Vacation Edit</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Spring Whites</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Linen</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Mother's Day Gifts</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Curvy Shorts</a>
                  </li>
                     <li>
                  </li>
                </ul>
              </div>
              <div class="col l-2">
                <ul>
                  <h5 class="text_w--bold">NEW & NOW</h5>
                  <li>
                    <a href=""  class="section-item text_s--14">New Arrivals</a>
                  </li>
                    <a href=""  class="section-item text_s--14">Work Your Way</a>
                  <li>
                    <a href=""  class="section-item text_s--14">Silky Sueded Jersey</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">The Vacation Edit</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Spring Whites</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Linen</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Mother's Day Gifts</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Curvy Shorts</a>
                  </li>
                     <li>
                  </li>
                </ul>
              </div>
              <div class="col l-2">
                <ul>
                  <h5 class="text_w--bold">NEW & NOW</h5>
                  <li>
                    <a href=""  class="section-item text_s--14">New Arrivals</a>
                  </li>
                    <a href=""  class="section-item text_s--14">Work Your Way</a>
                  <li>
                    <a href=""  class="section-item text_s--14">Silky Sueded Jersey</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">The Vacation Edit</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Spring Whites</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Linen</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Mother's Day Gifts</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Curvy Shorts</a>
                  </li>
                     <li>
                  </li>
                </ul>
              </div>
              <div class="col l-2">
                <ul>
                  <h5 class="text_w--bold">NEW & NOW</h5>
                  <li>
                    <a href=""  class="section-item text_s--14">New Arrivals</a>
                  </li>
                    <a href=""  class="section-item text_s--14">Work Your Way</a>
                  <li>
                    <a href=""  class="section-item text_s--14">Silky Sueded Jersey</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">The Vacation Edit</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Spring Whites</a>
                  </li>
                  <li>
                    <a href=""  class="section-item text_s--14">Linen</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Mother's Day Gifts</a>
                  </li>
                     <li>
                    <a href=""  class="section-item text_s--14">Curvy Shorts</a>
                  </li>
                     <li>
                  </li>
                </ul>
              </div>
              <div class="col l-4">

              </div>
          </div>
        </div>
       </li>
    </ol>
    <div class="overlay">

    </div>
    </nav>
  
</div>